
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="row bs-reset">
    <div class="col-md-6 login-container bs-reset">
        @*ng-controller="loginCtrl">*@

        <div class="login-content">

            <h1><img class="login-logo login-5" src="~/images/fav.png" height:100px /></h1>

            <form id="loginForm" class="login-form" method="post" action="~/auth/resetpassword"
                  @*ng-submit="login($event, '@Url.Content("~/api/authapi/login")')"*@>
                <div class="alert alert-danger alert-dismissable show-login" ng-show="showAlertBox">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <span ng-bind="showErrorMsg"></span>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <input type="hidden" name="code" value="@ViewBag.code" />
                        <input type="hidden" name="email" value="@Request.QueryString["Email"]" />
                        <input type="password" placeholder="New Password" class="form-control login-password" id="password" name="newpassword" />
                    </div>
                    <div class="col-xs-6">
                        <input type="password" placeholder="Confirm Your New Password" class="form-control login-password" id="confirmPassword" name="confirmpassword" />
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-9 text-right">

                        <button class="btn blue" type="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="login-footer">
            <div class="row bs-reset">
                <div class="col-xs-8 bs-reset">
                    <div class="login-copyright text-right">
                        <p>Copyright &copy; Smartware Solutions @DateTime.Now.Year</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 bs-reset">
        <div class="login-bg" style="position: relative; z-index: 0; background: transparent none repeat scroll 0% 0%;"> <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 442px; width: 672px; z-index: -999998; position: absolute;"><img style="position: absolute; margin: 0px; padding: 0px; border: medium none; width: 672px; height: 604.8px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -81.4px;" src="~/Content/assets/pages/img/login/bg3.jpg"></div></div>
    </div>
</div>