
@{
    Layout = null;
}

<style>
    .block-ui-overlay {
        background-color: rgba(98, 95, 95, 0.62);
    }
</style>

<div class="col-lg-12" ng-init="getUserAccount('@Url.Content("~/api/authapi/getuserAccount/?accountid=")',user.id)">
    <div class="card-box">
        <h2 class="text-dark header-title m-t-0 m-b-30"><span><i class="fa fa-user"></i> Change User Password</span></h2>

        <div class="row" block-ui="userCreateBlockUI">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <form id="userform" class="form-horizontal" name="userform" ng-submit="changePassword('@Url.Content("~/api/authapi/changeuserpassword")',$event)">

                    <div class="row m-b-30">
                        <div class="col-md-8 col-sm-8 col-xs-8">

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="username">Username</label>
                                <div class="col-md-9">
                                    <input type="text" tabindex="1"
                                           readonly ng-model="user.userName" minlength="6" required class="form-control" id="username" name="username">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="newPassword">New Password</label>
                                <div class="col-md-9">
                                    <input type="password" tabindex="3" ng-model="user.newPassword" class="form-control" id="newPassword" name="newPassword">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="confirmPassword">Confirm Password</label>
                                <div class="col-md-9">
                                    <input type="password" tabindex="5" class="form-control" ng-model="user.confirmPassword" id="confirmPassword" name="confirmPassword">
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-sm-7 col-sm-offset-1 ">
                            <a ui-sref="app" class="btn btn-warning waves-effect waves-light">
                                <span class="btn-label">
                                    <i class="fa fa-arrow-circle-o-left"></i>
                                </span>Back to User List
                            </a>
                            <button type="submit" class="btn btn-success waves-effect waves-light"> <i class="ion-loop m-r-5"></i> <span>Update</span> </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery.validate.min.js"></script>

<script type="text/javascript">
    $("#userform").validate({
        rules: {
            newPassword: {
                required: true,
                minlength: 6
            },
            confirmPassword: {
                required: true,
                equalTo: "#newPassword"
           }
        },

        messages: {
            newPassword: {
                required: "Please enter your new password",
                minlength: "Your password must be at least six character long"
            },

            confirmPassword: {
                required: "Please Confirm your password",
                equalTo: "New password does not match the confirm password"
            }
        }
    })
</script>