<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="FETCH_COUNT" value="20"/>
    <!--<add key="ClientId" value="f9abac2364784c84b8e8c8dea223465c"/>
    <add key="ClientKey" value="AtISpjNFniXMTlxFYCf/67VSL5h8mC0NCF2TobH1JDQ="/>-->
    <!--<add key="ClientId" value="063e52fec03c4c7f9a67ccecfdbe912b" />
    <add key="ClientKey" value="teeQPCydI9gFuMeyYwb2FD5Nh4e5yTekqwNYhWaoyV8=" />-->
    <add key="clientid" value="d51cff53e9554d259f18a84de5f65305"/>
    <add key="clientkey" value="Log+fw1jbHgDcHzyzPiJeZ2+PAZMaeibEc45Ul486uI="/>
    <!--<add key="SYNC_APP_URL" value="http://dharmasales.azurewebsites.net/"/>-->
    <add key="SYNC_APP_URL" value="http://localhost:63754/" />
    <!--<add key="SYNC_APP_URL" value="http://ipv4.fiddler:63754/" />-->
    <add key="DATA.PROVIDER" value="System.Data.SqlClient"/>
    <add key="DATA.CONNECTIONSTRING" value="Data Source=.\SQLExpress;Initial Catalog=iposv3;User Id =sa;Password=micr0s0ft_;Integrated Security=false;"/>
    <add key="SYNC_STORE.CONNECTIONSTRING" value="Data Source=.\SQLExpress;Initial Catalog=IposSync.Server;User Id =sa;Password=micr0s0ft_;Integrated Security=false;"/>
  </appSettings>
  <connectionStrings>
    <add name="IposSyncContext" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLExpress;Initial Catalog=IposSync.Server;User Id=sa;Password=micr0s0ft_;Integrated Security=false;MultipleActiveResultSets=true"/>
    <!--<add name="IposSyncContext" providerName="System.Data.SqlClient" connectionString="Data Source=SMARTWARE-SERVER,1433;Initial Catalog=IposSync.Server;User Id=sa;Password=micr0s0ft_;Integrated Security=false;MultipleActiveResultSets=true" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.net>
    <defaultProxy>
      <proxy bypassonlocal="False" usesystemdefault="True"/>
    </defaultProxy>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
