<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="FileLogger" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log"  autoFlush="true" />
  </targets>
  <rules>
    <logger name="*" levels="Error,Fatal" writeTo="FileLogger" />
  </rules>
  
</nlog>