
@{
    ViewBag.Title = "More Detail On IPos";
}
<link href="~/Content/scroll-to-top.css" rel="stylesheet" />

<style>
    .cd-timeline-imgs{
        width:150px;
        height : 150px;
        margin-left: 100px;
        margin-top: -60px;
    }
    .cd-timeline-imgss{
         width:150px;
         height : 150px;
         margin-left: 370px;
    }
</style>

<div class="content">
    <div class="container">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                @*<h4 class="page-title">Timeline</h4>
                    <ol class="breadcrumb">
                        <li><a href="#">Ubold</a></li>
                        <li><a href="#">Extras</a></li>
                        <li class="active">Timeline</li>
                    </ol>*@
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <section class="cd-container" id="cd-timeline">
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-primary">
                            <i class="fa fa-tag"></i>
                            <p class="cd-timeline-imgs"> <img src="~/Content/images/IposImages/Bonuvita.png" /></p>
                        </div> <!-- cd-timeline-img -->
                       
                        <div class="cd-timeline-content">
                            <h3>IPOS</h3>
                            <p>Interactive Point Of Sales (IPOS) is an inventory and sales management application to determine profitability in businesses</p>
                            <p>It allows business owner to have more than one business location and adequately keep track of and manage inventory at each location without being present. 
                            Thus, no more worries about employee theft or pricing inconsistency. 
                            </p>
                            <span class="cd-date"></span>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->

                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-success">
                            
                            <i class="fa fa-thumbs-up"></i>
                           
                            </div> <!-- cd-timeline-img -->

                        <div class="cd-timeline-content">
                            <h3> Advantage</h3>
                            <p>
                                IPOS advantage just to mention a few
                                <ul>
                                    <li>"Sudden shrink" no longer goes undetected.</li>
                                    <li>Markdown management is much easier. </li>
                                    <li>Promotions can be tracked more successfully using customer data.</li>
                                    <li>You can maintain control in absentia with price consistency.</li>
                                    <li>Greatly reduce paper work and can build a customer database for promotional reasons</li>
                                </ul>

                            </p>

                            @*<button class="btn btn-primary btn-rounded waves-effect waves-light m-t-15" type="button">See more detail</button>*@
                            

                            <span class="cd-date"></span>
                        </div> <!-- cd-timeline-content -->
                        <p class="cd-timeline-imgss">  <img src="~/Content/images/IposImages/drink.png" /> </p>
                    </div> <!-- cd-timeline-block -->

                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-info">
                            <i class="fa fa-briefcase"></i>
                            <p class="cd-timeline-imgs"><img src="~/Content/images/IposImages/fishes.png" /></p>
                            </div> <!-- cd-timeline-img -->

                        <div class="cd-timeline-content">
                            <h3> Functional Features</h3>
                            <p>
                                IPOS functionalities includes:
                                <ul>
                                    <li>Inventory Management</li>
                                    <li>Accessing of daily, monthly and annual transaction</li>
                                    <li>Printing and Emailing of sales, stock and users reports</li>
                                    <li>Allows payment of all kind (Cash, Cheque, Credit cards)</li>
                                    <li>Allows Bulk sms usage</li>
                                    <li>Give a well detailed real time information on item movement and procurement</li>
                                    <li>Provides daily sales report, inventory report and customers transaction</li>
                                    <li>Allows different user access rights based on permission and audit trails based on each user </li>
                                    
                                </ul>
                            </p>
                            <span class="cd-date"></span>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->

                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-pink">
                            <i class="fa fa-tasks"></i>
                        </div> <!-- cd-timeline-img -->

                        <div class="cd-timeline-content">
                            <h3>Who can use it</h3>
                            <p> IPOS can be used in different sectors like:
                                <ul>
                                    <li>Shopping malls</li>                                  
                                    <li>Spa and beautification houses </li>                                  
                                    <li>Eateries and resturants</li>
                                    <li>Show rooms</li>
                                    <li>Supermarkets (Small, medium and large sized supermarkets)</li>
                                </ul>
                            </p>
                            <span class="cd-date"></span>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->

                   @* <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-warning is-hidden">
                        <i class="fa fa-pencil-square-o"></i>
                    </div> <!-- cd-timeline-img -->
                                          <div class="cd-timeline-content is-hidden">
            <h3>Timeline Event Five</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
            <button class="btn btn-primary btn-rounded waves-effect waves-light m-t-15" type="button">See more detail</button>
            <span class="cd-date">Jun 18</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-primary is-hidden">
            <i class="fa fa-paperclip"></i>
        </div> <!-- cd-timeline-img -->

    <p><img src="~/Content/images/IposImages/fishes.png" /></p>

        <div class="cd-timeline-content is-hidden">
            <h3>Timeline Event End</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
            <span class="cd-date">Jun 30</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->*@
                </section> <!-- cd-timeline -->
            </div>
        </div><!-- Row -->


    </div> <!-- container -->

</div>

<a href="#0" class="cd-top">Top</a>
@section scripts{
    <script src="~/Scripts/scroll-to-top.js"></script>
}