
@{
    ViewBag.Title = "Who We Are";
}

<link href="~/Content/scroll-to-top.css" rel="stylesheet" />

<div class="content">
    <div class="container">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                @*<h4 class="page-title">Timeline</h4>
                <ol class="breadcrumb">
                    <li><a href="#">Ubold</a></li>
                    <li><a href="#">Extras</a></li>
                    <li class="active">Timeline</li>
                </ol>*@
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <section class="cd-container" id="cd-timeline">
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-primary">
                            <i class="fa fa-tag"></i>
                        </div> <!-- cd-timeline-img -->

                        <div class="cd-timeline-content">
                            <h3>Smartware</h3>
                            <p>Smartware solutions was incorporated in 2010 and has been known for excellence services and also an IT icon in the Nigerian market</p>
                            <span class="cd-date"></span>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->

                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-success">
                            <i class="fa fa-thumbs-up"></i>
                        </div> <!-- cd-timeline-img -->

                        <div class="cd-timeline-content">
                            <h3> Our Services</h3>
                            <p>As a fast-paced information Technology company she provides
                            <ul>
                                <li>Software Engineering</li>
                                <li>Corporate Training</li>
                                <li>3rd Party Service Procurement</li>
                                <li>IT Consulting Services</li>
                            </ul>
                            
                            </p>

                            @*<button class="btn btn-primary btn-rounded waves-effect waves-light m-t-15" type="button">See more detail</button>*@
                            <a href="http://www.smartware.com.ng" class="btn btn-primary btn-rounded waves-effect waves-light m-t-15">Get to know more ...</a>

                            <span class="cd-date"></span>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->

                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-info">
                            <i class="fa fa-briefcase"></i>
                        </div> <!-- cd-timeline-img -->

                        <div class="cd-timeline-content">
                            <h3>Our Clients</h3>
                            <p>
                                Our portfolio of clients includes:
                            <ul>
                                <li>Small and medium sized businesses</li>
                                <li>Educational Instititions</li>
                                <li>Aviation</li>
                                <li>Hospitality</li>
                                <li>Financial Service Sector</li>
                                <li>Other Economy Sectors</li>
                            </ul>
                            </p>
                            <span class="cd-date"></span>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->

                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-pink">
                            <i class="fa fa-tasks"></i>
                        </div> <!-- cd-timeline-img -->

                        <div class="cd-timeline-content">
                            <h3>Our Area of Specialization</h3>
                            <p>
                                <ul>
                                    <li>Developing innovative and customized solutions with latest Microsoft platform technologies</li>
                                    <li>Providing client-specific services</li>
                                    <li>Creating custom applications</li>
                                    <li>Building technology infrastructure</li>
                                    <li>Developing skills of passionate individuals on coding</li>
                                </ul>
                            </p>
                            <a href="http://www.smartware.com.ng" class="btn btn-primary btn-rounded waves-effect waves-light m-t-15">Get to know more ...</a>
                            <img alt="" src="assets/images/small/img1.jpg">
                            <span class="cd-date"></span>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->

                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-primary">
                            <i class="fa fa-paperclip"></i>
                        </div> <!-- cd-timeline-img -->

                        <div class="cd-timeline-content">
                            <h3>Products and Pricing</h3>
                            <p>Our Products are</p>
                            <p>
                                <ul>
                                    <li>
                                        Peaceful Rest App :
                                        A mortuary management application for inventory and sales montoring
                                    </li>

                                    <li>Smart World Magazine : Tells you about the technology field, what is new, the mistake to avoid and the technology future. </li>
                                </ul>
                            </p>

                            <p>Pricing</p>
                            <p>
                                <ul>
                                    <li>Peaceful Rest App -------- #350,000</li>
                                    <li>Smart World Magazine  ----------- </li>
                                </ul>
                            </p>
                        </div> <!-- cd-timeline-content -->

                    </div> <!-- cd-timeline-block -->

                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-warning">
                            <i class="fa fa-pencil-square-o"></i>
                        </div> <!-- cd-timeline-img -->

                       <div class="cd-timeline-content">
            <h3>Contact Us</h3>
            <p>You can contact us using the following</p>
            <p>Address : 2J, Obasa close, off Oba-akran Ikeja Lagos</p>
            <p>Support Line : 08140983450 , 08062066850 </p>
            
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

                    
                </section> <!-- cd-timeline -->
            </div>
        </div><!-- Row -->


    </div> <!-- container -->
</div>


<a href="#0" class="cd-top">Top</a>

@section scripts{
<script src="~/Scripts/scroll-to-top.js"></script>
}