@{
    Layout = null;
}

<style>
    /*.card-box {
        margin-top: 10px !Important;
        margin-bottom: 40px !Important;
        width: 550px;
        margin-left: 230px;
    }*/

    .block-ui-overlay {
        background-color: rgba(98, 95, 95, 0.62)
    }

    .error {
        border-color: red;
    }
</style>

<div class="container" ng-init="getCatItem('@Url.Content("~/api/categoryapi/getcatitems?id=")')">
    <div class="content">
        <div class="card-box">
            <div class="row">
                <div class="col-md-12">

                    <h3 class="m-t-0 header-title"><span><i class="fa fa-list-alt"></i> Category Details</span></h3>

                    <div block-ui="categoryEditBlockUI">
                        <form class="form-horizontal" data-parsley-validate="" method="post" role="form" id="viewDetailCategory">
                            <div class="row m-b-30">
                                <div class="col-md-8">

                                   
                                        <input type="hidden" value="categoryItemLog.id" />

                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="categoryName">Category Name</label>
                                            <div class="col-md-9">
                                                <input type="text" id="categoryName" class="form-control" disabled="" ng-model="categoryItemLog.name">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="description">Category Description</label>
                                            <div class="col-md-9">
                                                <textarea id="description" class="form-control" rows="3" name="description" ng-model="categoryItemLog.description" disabled=""></textarea>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="form-group">
                                    <div class="col-sm-7 col-sm-offset-1 ">
                                        <a ui-sref="list" class="btn btn-warning"><i class="fa fa-arrow-circle-o-left"></i> <span>Back to Category List</span></a>

                                    </div>
                                </div>
</form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


