@{
    Layout = null;
}
<style>
    .error {
        border-color: red;
    }

    .block-ui-overlay {
        background-color: rgba(98, 95, 95, 0.62);
    }
</style>

<div class="col-lg-12">
    <div class="card-box" ng-init="getProdItem('@Url.Content("~/api/stockapi/getproditems?id=")')">
        <h2 class="text-dark header-title m-t-0 m-b-30"><span><i class="fa fa-list-alt"></i> Update Stock Info</span></h2>

        <div class="row" block-ui="stockEditBlockUI">
            <div class="col-md-12">
                <form class="form-horizontal" method="post" role="form" id="editStock"
                      ng-submit="editStock($event, '@Url.Content("~/api/StockApi/EditProduct")')">
                    <div class="row m-b-30">
                        <div class="col-md-6">
                            <input type="hidden" value="{{productItemLog.id}}" name="id" />

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="productName"> Name</label>
                                <div class="col-md-9">
                                    <input type="text" id="productName" class="form-control" ng-model="productItemLog.name" required="" name="name" data-parsley-id="4">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="description">Description</label>
                                <div class="col-md-9">
                                    <textarea id="description" class="form-control" rows="3" required="" name="notes" ng-model="productItemLog.description"> </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="costPrice">Cost Price</label>
                                <div class="col-md-9">
                                    <input type="text" id="costPrice" class="form-control" number-only allow-dot="true" ng-model="productItemLog.costPrice" required="" name="costPrice" data-parsley-id="6">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="sellPrice"> Selling Price</label>
                                <div class="col-md-9">
                                    <input type="text" id="sellPrice" class="form-control" number-only allow-dot="true" ng-model="productItemLog.sellPrice" required="" name="sellPrice" data-parsley-id="6">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="quantity">Quantity</label>
                                <div class="col-md-9">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" readonly="" required="" ng-model="productItemLog.quantity" id="quantity" name="quantity">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" ng-model="productItemLog.lqty" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="checkbox checkbox-primary">
                                    <input type="checkbox" id="isDiscountable" name="isDiscountable" ng-model="productItemLog.isDiscountable">
                                    <label for="isDiscountable">
                                        Discountable
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="category">Category</label>
                                <div class="col-md-9">
                                    @Html.DropDownList("category", ViewBag.Category as IEnumerable<SelectListItem>, "SELECT A CATEGORY", new { @class = "form-control", ng_model = "productItemLog.category", convert_to_number = "" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="note">Notes</label>
                                <div class="col-md-9">
                                    <textarea id="note" class="form-control" rows="3" name="notes" ng-model="productItemLog.notes"> </textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="reorderlevel"> Re-Order Level</label>
                                <div class="col-md-9">
                                    <input type="text" id="reorderlevel" class="form-control" number-only ng-model="productItemLog.reorderLevel" required="" name="reorderlevel">
                                </div>
                            </div>

                            <div class="col-sm-offset-3 col-sm-9 m-b-10">
                                <div class="checkbox checkbox-primary">
                                    <input type="checkbox" id="canExpire" name="canExpire" ng-model="productItemLog.canExpire" class="">
                                    <label for="canExpire">
                                        Can Expire
                                    </label>
                                </div>
                            </div>

                            <div class="form-group" ng-show="productItemLog.canExpire">
                                <label class="col-md-3 control-label" for="expirydate">Expiry Date</label>

                                <div class="col-md-9">
                                    <input type="text" id="expirydate" readonly="" class="form-control" data-date-today-btn="linked" data-date-autoclose="true" data-date-start-date="d" data-provide="datepicker" data-date-format="dd/mm/yyyy" ng-model="productItemLog.expiryDate" name="ExpiryDate" ng-required="productItemLog.canExpire">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="barCode">Bar Code</label>
                                <div class="col-md-9">
                                    <input type="text" id="barCode" class="form-control" ng-model="productItemLog.barcode" name="barCode">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-7 col-sm-offset-1 ">
                            <a ui-sref="list" class="btn btn-warning waves-effect waves-light">
                                <span class="btn-label">
                                    <i class="fa fa-arrow-circle-o-left"></i>
                                </span>Back to Stock List
                            </a>
                            <button type="submit" class="btn btn-success waves-effect waves-light"> <i class="ion-loop m-r-5"></i> <span>Update</span> </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">
    $(function () {
        $("#editStock").validate({
            rules: {
                name: {
                    required: true
                },
                description: {
                    required: true
                },
                costPrice: {
                    required: true,
                    number: true
                },
                sellPrice: {
                    required: true,
                    number: true
                },
                quantity: {
                    required: true,
                    number: true
                },
                reorderlevel: {
                    required: true
                },
                expiryDate: {
                    required: true
                }
            },
            messages: {
                name: {
                    required: "Name is required"
                },
                description: {
                    required: "Description is required"
                },
                costPrice: {
                    required: "Cost price is required",
                    number: "Please enter a numeric value"
                },
                sellPrice: {
                    required: "Selling price is required",
                    number: "Please enter a numeric value"
                },
                quantity: {
                    required: "Quantity is required",
                    number: "Please enter a numeric value"
                },
                reorderlevel: {
                    required: "Re-order level is required"
                },
                expiryDate: {
                    required: "Expiry date is required once you check  the CanExpire field"
                }
            }
        });
    });

    jQuery(document).ready(function () {
        window.onload = function () {

            if ($("#Input,#category").validate()) {
                $(("#Input,#category").error("border-color", "red"));
            }
        }
    });

    function hello() {
        console.log('hello');
    }
</script>